<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /26-12-25/ci4-crud/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
